*{
    margin:0;
    padding:0;
    
}

.but{
    width:15%;
   margin: 15px 25px 15px 15px;
   padding:13px 23px 13px 23px;
   border-radius: 5px  ;
   background-color: #d3e4f8;
   color:#062342;
   font-size:large;
   color:#0068d7;
   border:2px solid #0068d7;
   box-shadow: #d3e4f8;
}
.bu{
    width:15%;
    margin: 15px 25px 15px 15px;
    padding:13px 23px 13px 23px;
    border-radius: 5px  ;
    background-color: #dedede;
    color:#666666;
    font-size:large;
    color:#666666;
    border:2px solid #666666;
    box-shadow: #d3e4f8;
}
.bl{
    font-size:25px;
    color:#918787;
}
.ya{
    font-size:25px;
    color:#918787;
}
.b{
    font-size:25px;
    color:#a09d9d;
}
.bt{
    width:15%;
    margin: 15px 25px 15px 15px;
    padding:13px 23px 13px 23px;
    border-radius: 5px  ;
    background-color: #dedede;
    color:#f6f2f2;
    font-size:large;
    color:#d4c0c0;
    border:2px solid #666666;
    box-shadow: #d3e4f8;
} 
